<div class="dialog my-question">
  <p><%= @my_question %></p>
  <p>- You</p>
</div>

<div class="dialog coach-answer">
  <p><%= @coach_answer %></p>
  <p>- The coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
